//Fonts
@font-face {
  font-family: Hyang;
  src: url("fonts/Hyang\ Sans.otf");
}

//Variables
$cyberBlack: #041820;
$cyberPurple: #d061e7;

$headingFont: Hyang;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}
body * {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFont;
  color: $cyberBlack;
}
.title {
  font-size: 2rem;
  border-bottom: 3px solid $cyberPurple;
  padding: 0.5rem;
}

.content {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}
.content-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dobble-card {
  width: 50%;
  min-height: 25rem;
  padding: 1rem;
  margin: 2rem;
  //border: 1px solid black;
  background: linear-gradient(ro right, #fafafa, #ececec);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.123);

  opacity: 0;
  animation: cardFade 1s ease forwards;
}
@keyframes cardFade {
  100% {
    opacity: 1;
  }
}

#activeCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 4rem 0rem;
  min-height: 29rem;
}

.symbol {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 8.5rem;
  min-width: 6rem;

  &:hover {
    cursor: pointer;
  }
}
.symbol-marked {
  //border: 2px solid red;
}

.footer {
  flex-shrink: 0;
}
#freepik {
  font-family: $headingFont;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    margin: 0 0.3em;
  }

  padding: 2rem;
  background-color: $cyberBlack; //rgb(41, 41, 41);
  color: white;
  font-size: 1.3rem;

  a {
    color: $cyberPurple; //#FFF245;

    padding: 0;
    margin: 0 0.3em;
    text-decoration: none;
    font-family: $headingFont;
    font-size: 1.3rem;
  }
}

#information {
  z-index: 1000;

  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 150vh;
  background-color: $cyberBlack;
  color: white;
  clip-path: polygon(0 0, 0 90%, 65% 90%, 80% 100%, 95% 90%, 100% 90%, 100% 0);

  transform: translateY(-95.5%);
  transition: all 1.2s ease;

  overflow-y: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  display: flex;
  justify-content: center;
  .info-content {
    height: 100vh;
    padding: 0.5rem;
    width: 60%;
    overflow-y: auto;
  }
  h3 {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
  }
  .info-main-title {
    margin-top: 1rem;
  }
  p {
    margin-top: 0.5rem;
  }
  a {
    color: rgb(255, 255, 115);
  }

  .infotext {
    padding: 0.5rem;
    color: white;
    position: absolute;
    right: 18.89vw;
    bottom: 0.8vw;
    font-family: $headingFont;
    font-size: 1.3rem;

    &:hover {
      cursor: pointer;
    }
  }
  .x-btn {
    fill: $cyberPurple;
    position: absolute;
    top: 2rem;
    right: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}
.show-info {
  transition: all 1.5s ease;
  transform: translateY(0%) !important;
}
pre {
  border-radius: 0.25rem;
  margin-top: 1rem;
  background: linear-gradient(to right, #c4c4c4, #dddddd);
  overflow-y: scroll;
  max-height: 26rem;
}
code {
  padding: 2rem;
  //background-color: rgb(221, 221, 221);
  color: $cyberPurple;
  font-family: "Roboto Mono", monospace;
}

/* Win message */
.win-message-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  * {
    margin: 0.75rem;
  }
  button {
    border-radius: 0.25rem;
    border: 1px solid rgb(235, 235, 235);
    background-color: $cyberPurple;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.116);
    padding: 1rem 2rem;
    transition: all 0.5s ease;
    transform: scale(1);

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      transform: scale(1.05);
    }
  }
}

/* Loading */

/*#loading-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100vw;
    height: 100%;
    
    p{
        margin-bottom: 0.75rem;
    }
}
#loading-outer{
    height: 4rem;
    width: 60%;
    background-color: rgb(219, 212, 212);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#loading-inner{
    //transition: all 0.02s ease;
    height: 4rem;
    width: 0%;
    background-color: $cyberPurple;
}*/
#spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 25%;
  }

  p {
    margin-bottom: 1.75rem;
  }
}
#spinner {
  animation: spin 7s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

//Difficulty slider
#difficulty {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
#diff-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  * {
    margin: 0rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: $cyberBlack;

    color: white;
  }
}

//Media
@media only screen and (max-width: 1200px) {
  #information {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #activeCards {
    flex-direction: column;

    * {
      width: 90%;
    }
  }
  body {
    overflow: scroll;
  }
  #freepik {
    font-size: 0.7rem;
    a {
      font-size: 0.7rem;
    }
  }
  .title {
    margin-top: 3rem;
    margin-bottom: 0.2rem;
  }
}
