@font-face {
  font-family: Hyang;
  src: url("fonts/Hyang Sans.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}

body * {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Hyang;
  color: #041820;
}

.title {
  font-size: 2rem;
  border-bottom: 3px solid #D061E7;
  padding: 0.5rem;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dobble-card {
  width: 50%;
  min-height: 25rem;
  padding: 1rem;
  margin: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(right, ro), color-stop(#fafafa), to(#ececec));
  background: linear-gradient(ro right, #fafafa, #ececec);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.123);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.123);
}

#activeCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0rem;
}

.symbol {
  padding: 1rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 8.5rem;
  min-width: 6rem;
}

.symbol-marked {
  border: 2px solid red;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#freepik {
  font-family: Hyang;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #041820;
  color: white;
  font-size: 1.3rem;
}

#freepik * {
  margin: 0;
  padding: 0;
  margin: 0 0.3em;
}

#freepik a {
  color: #D061E7;
  padding: 0;
  margin: 0 0.3em;
  text-decoration: none;
  font-family: Hyang;
  font-size: 1.3rem;
}

#information {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 150vh;
  background-color: #041820;
  color: white;
  -webkit-clip-path: polygon(0 0, 0 90%, 65% 90%, 80% 100%, 95% 90%, 100% 90%, 100% 0);
          clip-path: polygon(0 0, 0 90%, 65% 90%, 80% 100%, 95% 90%, 100% 90%, 100% 0);
  -webkit-transform: translateY(-95.5%);
          transform: translateY(-95.5%);
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#information ::-webkit-scrollbar {
  display: none;
}

#information .info-content {
  height: 100vh;
  padding: 0.5rem;
  width: 60%;
  overflow-y: auto;
}

#information h3 {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
}

#information .info-main-title {
  margin-top: 1rem;
}

#information p {
  margin-top: 0.5rem;
}

#information a {
  color: #ffff73;
}

#information .infotext {
  padding: 0.5rem;
  color: white;
  position: absolute;
  right: 18.67vw;
  bottom: 0.8vw;
  font-family: Hyang;
  font-size: 1.3rem;
}

#information .infotext:hover {
  cursor: pointer;
}

#information .x-btn {
  fill: #D061E7;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#information .x-btn:hover {
  cursor: pointer;
}

.show-info {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

pre {
  border-radius: 0.25rem;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#c4c4c4), to(#dddddd));
  background: linear-gradient(to right, #c4c4c4, #dddddd);
  overflow-y: scroll;
  max-height: 26rem;
}

code {
  padding: 2rem;
  color: #D061E7;
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 1200px) {
  #information {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */