@font-face {
  font-family: Hyang;
  src: url("fonts/Hyang Sans.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

body * {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Hyang;
  color: #041820;
}

.title {
  font-size: 2rem;
  border-bottom: 3px solid #D061E7;
  padding: 0.5rem;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dobble-card {
  width: 50%;
  min-height: 25rem;
  padding: 1rem;
  margin: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(right, ro), color-stop(#fafafa), to(#ececec));
  background: linear-gradient(ro right, #fafafa, #ececec);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.123);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.123);
}

#activeCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 0rem;
}

.symbol {
  padding: 1rem;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.symbol-marked {
  border: 2px solid red;
}

/*.footer {
    flex-shrink: 0; 
}*/
#freepik {
  font-family: Hyang;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: #041820;
  color: white;
  font-size: 1.3rem;
}

#freepik * {
  margin: 0;
  padding: 0;
  margin: 0 0.3em;
}

#freepik a {
  color: #D061E7;
  padding: 0;
  margin: 0 0.3em;
  text-decoration: none;
  font-family: Hyang;
  font-size: 1.3rem;
}
/*# sourceMappingURL=style.css.map */